#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ 

override_dh_auto_install:
	dh_auto_install -- --install-lib /usr/share/ninja-ide

	find $(CURDIR)/debian/ninja-ide -type d -name "doc" | xargs rm -rf
	find $(CURDIR)/debian/ninja-ide -type f -name "jquery.js" -delete

	# what's this? :)
	rm -rf $(CURDIR)/debian/ninja-ide/usr/bin/ninjac

	mv $(CURDIR)/debian/ninja-ide/usr/bin/ninja \
	   $(CURDIR)/debian/ninja-ide/usr/bin/ninja-ide

	find $(CURDIR)/debian/ -name "*.png" | xargs chmod a-x
