#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ 

override_dh_auto_clean:
	dh_auto_clean
	rm -rf setuptools*

override_dh_auto_install:
	dh_auto_install
	for i in img styles rsc; do \
		find $(CURDIR)/debian/ninja-ide -type d -name "$$i" | xargs rm -rf ; \
	done
