#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ 

override_dh_auto_clean:
	dh_auto_clean
	rm -rf setuptools*

override_dh_auto_install:
	dh_auto_install -- \
	    --install-lib /usr/share/ninja-ide \
	    --install-scripts /usr/share/ninja-ide

	find $(CURDIR)/debian/ninja-ide -type d -name "doc" | xargs rm -rf

	find $(CURDIR)/debian/ -name "*.png" | xargs chmod a-x

override_dh_install:
	dh_install
	find $(CURDIR)/debian/ninja-ide -type f -name "jquery.js" -delete
